####### SWF PROD ENDPOINT #######
service.url=http://swf.us-east-1.amazonaws.com

####### CREDENTIALS FOR SWF #######
AWS.Access.ID=AKIAIG3LEBOMZCSASPBA
AWS.Secret.Key=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
AWS.Account.ID=6693-5772-8007

####### CREDENTIALS FOR S3 #######
S3.Access.ID=AKIAIG3LEBOMZCSASPBA
S3.Secret.Key=/xcMuaMPTck/ezvOskqnDEoAtQyZdicy5QpMkY+O
S3.Account.ID=6693-5772-8007

######## COMMON CONFIG ###########
domain=Samples

####### Image Processing Sample Configuration ##########
Activity.Worker.LocalFolder=/tmp/
Activity.Worker.CommonTaskList=atheroCommonTaskList
Workflow.Worker.Tasklist=atheroDecisionTaskList

Workflow.Execution.Id=testrun
Workflow.Input.SourceFileName=test_image.jpg
Workflow.Input.SourceBucketName=swfconsole
Workflow.Input.BucketName=org.phonybone.test_bucket

# Valid Options are GRAY_SCLAE or SEPIA
#Workflow.Input.ImageProcessingOption=SEPIA                                                                    