####### SWF PROD ENDPOINT #######
service.url=http://swf.us-east-1.amazonaws.com

####### CREDENTIALS FOR SWF #######
AWS.Access.ID=
AWS.Secret.Key=
AWS.Account.ID=

####### CREDENTIALS FOR S3 #######
S3.Access.ID=
S3.Secret.Key=
S3.Account.ID=

######## COMMON CONFIG ###########
domain=Samples

####### Image Processing Sample Configuration ##########
Activity.Worker.LocalFolder=/tmp/
Activity.Worker.CommonTaskList=atheroCommonTaskList
Workflow.Worker.Tasklist=atheroDecisionTaskList

Workflow.Execution.Id=testrun
Workflow.Input.SourceFileName=test_image.jpg
Workflow.Input.SourceBucketName=swfconsole
Workflow.Input.BucketName=org.phonybone.test_bucket

# Valid Options are GRAY_SCLAE or SEPIA
Workflow.Input.ImageProcessingOption=SEPIA
